<footer class="border-t-2 border-t-violet-600 text-center py-2 text-sm">
  <p>
    &copy; {new Date().getFullYear()} Krishna Coaching Classes. All Rights Reserved.
  </p>

  <p>
    Created by <span class="font-medium text-violet-600">Kunwar Aditya</span>.
  </p>
</footer>
