---
const { name, review } = Astro.props;
---

<div class="bg-white m-4 shadow-md p-3 rounded-md space-y-2 italic">
  <h2 class="font-light text-xl">{name}</h2>
  <p class="font-medium text-lg text-violet-600">"{review}"</p>
</div>
